<section class="got-questions-area  inner-spacing bg-color2">
    <div class="got-questions-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-7">
                    <h2 class="heading-2">Got Questions? We Can Help.
                    </h2>
                    <p>Our security expert never sleep. At least, not usually!</p>
                </div>
                <div class="col-md-6 col-lg-5 ">
                    <div class="got-questions-btn-wrapper text-right list-inline wow fadeInUp">
                        <a href="#!" class="got-questions-btn btn btn-primary">Request A Call Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>