<!-- Start Header -->
<header class="header-area">
    <div class="container">
     {% include navigation.html %}
    </div>
        <div class="searchBoxTop">
        <div class="seachBoxContainer">
            <div class="container">
                <span class="searchClose"></span>
                <form class="formSearch" action="/search" method="get">
                    <div class="input-group">
                    <input class="form-control" type="search" name="q"  id="search-input" placeholder="Search blog posts.." autocomplete="off" />
                    <div class="input-group-prepend">
                        <button class="btn " type="submit">
                          <span class="btnSearchText">Search</span>
                        </button>
                    </div>
                    </div>
                </form>
            </div>
            <div class="container">
                <ul id="results-container"></ul>
            </div>
        </div>
        </div>
        <div id="cart-popup" class="modal-content">
        <div class="cart-popup-wrapper">
            <h3 class="cart-popup-text">Shopping cart 222</h3>
            <h4 class="cart-popup-title">No products in the cart.</h4>
            <div class="cart-popup-icon">
                <img src="{{site.url}}/assets/images/online-shopping-cart.png" alt="shopping cart" />
            </div>
            <div class="cart-popup-btn">
                <a class="btn btn-primary" href="#">Return To Shop</a>
            </div>
        </div>
        </div>
</header>
<!-- End Header Area -->