<!-- Start Sidebar Area -->
<div class="sidebar-area sidebar-right">
<h4 class="sidebar-title heading-4">Categories</h4>
<ul class="category-widget sidebar-widget list-group">
  {% for category in site.categories %}
  {% assign category_name = category[0] %}
    <li class="list-group-item">
        <a href="/category/{{ category_name | slugify }}/">{{ category_name | replace: "-", " " }}</a>
    </li>
    {% endfor %}
</ul>

<h4 class="sidebar-title heading-4">Recent Blog</h4>
<div class="recent-widget sidebar-widget">
  {% for posts in site.posts limit:"3" %}
    <div class="recent-wrapper">
        <a class="recent-img">
        <img src="{{posts.post_image}}" alt="{{posts.title}}">
        </a>
        <div class="recent-details">
            <h6 class="heading-6"> <a href="{{posts.url}}">{{ posts.title }}</a> </h6>
            <ul class="recent-meta list-inline">
            <li class="list-inline-item">{{ posts.date | date_to_long_string }}</li>
            </ul>
        </div>
    </div>
   {% endfor %}
</div>
<h4 class="sidebar-title heading-4">Popular Tag</h4>
<div class="tag-widget sidebar-widget list-inline">
    {{site | tag_cloud }}
</div>
</div>