<section class="slider-area bg-color2">
<div class="slider-inner">
    <div class="mainSlider nivoSlider nevo-slider">
        <img src="{{site.url}}/assets/images/slide-img.jpg" alt="" title="#htmlcaption-0" />
        <img src="{{site.url}}/assets/images/slide-img3.jpg" alt="" title="#htmlcaption-1" />
        <img src="{{site.url}}/assets/images/slide-img2.jpg" alt="" title="#htmlcaption-2" />
    </div>
    <div id="htmlcaption-0" class="nivo-html-caption slider-caption">
        <div class="slider-progress"></div>
        <div class="container">
            <div class="slider-content slider-content-1 slider-animated-1 text-left">
            <h1 class="hone">Get Managed Ghost Hosting Serivce </h1>
            <h4 class="htwo">We are offering very cheap and affordable price for the ghost hosting. </h4>
            <ul class="slider-btn-wrapper list-inline">
                <li class="list-inline-item"><a href="#" class="slider-btn">Get Started</a></li>
                <li class="list-inline-item"><a href="#" class="slider-btn2">Contact Us</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div id="htmlcaption-1" class="nivo-html-caption slider-caption">
        <div class="slider-progress"></div>
        <div class="container">
            <div class="slider-content slider-content-2 slider-animated-2 text-left">
            <h1 class="hone">Fastest WordPress Hosting Service </h1>
            <h4 class="htwo">We have lite speed caching enabled WordPress hosting in very cheap price.</h4>
            <ul class="slider-btn-wrapper list-inline">
                <li class="list-inline-item"><a href="#" class="slider-btn">Get Started</a></li>
                <li class="list-inline-item"><a href="#" class="slider-btn2">Contact Us</a></li>
            </ul>
            </div>
        </div>
    </div>
    <div id="htmlcaption-2" class="nivo-html-caption slider-caption">
        <div class="slider-progress"></div>
        <div class="container">
            <div class="slider-content slider-content-3 slider-animated-3 text-left">
            <h1 class="hone">24/7 Customer Support Available </h1>
            <h4 class="htwo">Our main concern is customer satisfection, we have dedicated team to give support you</h4>
            <ul class="slider-btn-wrapper list-inline">
                <li class="list-inline-item"><a href="#" class="slider-btn">Get Started</a></li>
                <li class="list-inline-item"><a href="#" class="slider-btn2">Contact Us</a></li>
            </ul>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Slider Area -->