---
layout: page
title: Login Here
---

<section class="register-area section-spacing bg-color1">
    <div class="register-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <form class="register-form wow fadeIn my-0" data-wow-duration="1s" action="#">
                        <h5 class="register-title heading-5">Login</h5>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="Email Address" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="pass" placeholder="Password" required>
                                        </div>
                                    </div>
                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-primary">Sign In </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="register-form wow fadeIn my-0" data-wow-duration="1s" action="#">
                        <h5 class="register-title heading-5">Create an account</h5>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name" placeholder="User Name">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="pass" placeholder="Password">
                                            <span class="form-label">8 or more characters, latters and numbers. Must contsin atteast one number</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="password" class="form-control" id="rpass" placeholder="Re-password">
                                        </div>
                                    </div>
                                    <div class="form-group m-0">
                                        <button type="submit" class="btn btn-primary">Register </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>