---
layout: default
---

{% include post_header.html %}

<div class="blog-area section-spacing bg-color1">
<div class="blog-wrapper">
   <div class="container">
      <div class="row">
         <div class="col-md-7 col-lg-8">
            <div class="single-post">
               <div class="single-img">
                  <img src="{{page.post_image}}" alt="{{page.title}}" />
               </div>
               <div class="single-content">
                  {{page.content}}				
               </div>
               <div class="single-tags-share">
                  <div class="single-tags list-inline float-left">
                     <div class="list-inline-item">Tags:</div>
                     {{page | tags }}
                  </div>
                  {% include social_share.html %}
               </div>
                 {% include author_info.html %}
                 {% include pagination.html %}
               <div class="comments-wrapper">
                  {% include disqus_comments.html %}
               </div>
            </div>
         </div>
         <div class="col-md-5 col-lg-4">
         {% include sidebar.html %}
         </div>
      </div>
   </div>
</div>
</div>

